<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="custom.css"> -->
  <style>
    .background{
      filter:alpha(opacity=50);
      /* CSS3 standard */
      opacity:0.5;

    }
    .logIn{
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%,-50%);

    }
    .title{
      position: absolute;
      left: 50%;
      top: 20%;
      transform: translate(-50%,-50%);
    }
    .SCARLET {
    background: #af1e2d;
    }

    .BROWN .nav-link {
    color: #4b2b23;
    }

    .BROWN .nav-link.active {
      background: #4b2b23;
      color: #ffffff;
    }

    .BROWN{
      background: #4b2b23;
    }

    .centered {
      position: fixed;
      top: 50%;
      left: 50%;
    }

    </style>
  <title>SLU Clubs and Theme Houses</title>
</head>
