<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
  </head>
  <body>

    <%_ if (!user) { -%>
      <form>
        <input type="text" id = "curID" name="id">
        <button type="submit" id= "signin">Sign In</button>
        <button type="buttom" id= "signup">Sign Up</button>
      </form>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script> // Log in
        $('#signin').on('submit', function(event) {
          const form = $(this);
          const currentID = $('#curID').val();
          event.preventDefault();
          if (users.includes(currentID)){
            $.ajax({method: 'get', url: '/clubs', data: form.serialize()})
            .done(() => window.location.replace('/clubs'));
          }


            //.fail(error => alert('Could not log in.'));

        $('#signup').on('click', function(event) {
          const form = $(this);
          const new_id = form.find('text')
          //new User ({_id:${new_id.val(), club_theme_house_created_by_me:[]});
          event.preventDefault();
          //$.ajax({method: 'post', url: '/login', data: form.serialize()})
            $.done(() => window.location.replace('/clubs'));
            //.fail(error => alert('Could not log in.'));
        })
      </script>
    <%_ } else { -%>
      <p>Hello, <%= user.name -%>!</p>
      <a href="/logout">Logout</a>
    <%_ } -%>
  </body>
</html>
