<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
  </head>
  <body>
      <div style="background-image": "'url('https://www.stlawu.edu/news/st-lawrence-goes-us-news-rankings')'}">
      </div>
      <form class="cetner">
        <input positive: relative type="text" id = "curID" name="id">
        <button type="submit" id= "signin">Sign In</button>
        <button type="button" id= "signup">Sign Up</button>
      </form>
      <img class = "float-left mr-2" width="80" height="80" src="/picture/stlawu.jpg">

      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script>

        $('form').on('submit', function(event) {
          event.preventDefault();
          const form = $(this);
          //const currentID = $('#curID').val();
            $.ajax({method: 'post', url: '/login', data: form.serialize()})
             .done(() => window.location.replace("/clubs"))
             .fail(error => alert('Could not log in.'));
        });


/*
        $('#signup').on('click', function(event) {
          event.preventDefault();
          const form = $(this);
          var new_id = document.getElementById("curID").value;
          console.log(new_id);

          const userList = users.map(user=>user._id);
          for (const i in userList){
            console.log(i);
          }

          // if (userList.indexOf(new_id)<0) {
          //   console.log("new_id");
          //   users.push(new User ({_id: new_id, club_theme_house_created_by_me: []}));
          // }

          //new User ({_id:${new_id.val(), club_theme_house_created_by_me:[]});


          $.ajax({method: 'post', url: '/user', data: form.serialize()})
            .then(function(){
              const userList = users.map(user=>user._id);
              if (userList.indexOf(new_id)<0) {
                console.log("new_id");
                new User ({_id: request.body.id, club_theme_house_created_by_me: []})
              };
            })
            //.then(() => alert('Sign up successfully.'))
            .done(() => window.location.replace("/clubs"))
            .fail(error => alert('Could not sign up with this ID.'));
        });




/*
          // if the id is existed



          $.ajax({method: 'post', url: '/login', data: form.serialize()})
            .done(() => window.location.reload());
        });
*/
      </script>



  </body>
</html>
