<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
  </head>
  <body>

    <%_ if (!user) { -%>
       <main class="p-3">
      <form>
          <input type="text" name="id">
          <button type="submit">Sign In</button>
          <button type="button" id= "create">Sign Up</button>
        </form>
      </main>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script> // Log in
        $('form').on('submit', function(event) {
          const form = $(this);
          event.preventDefault();
          $.ajax({method: 'post', url: '/login', data: form.serialize()})
            .done(() => window.location.replace('/clubs'));
            //.fail(error => alert('Could not log in.'));
        })
        $('form').on('create', function(event) {
          const form = $(this);
          const new_id = form.find('text')
          event.preventDefault();
          $.ajax({method: 'post', url: '/login', data: form.serialize()})
            .done(new User({_id: ${new_id.val()}, club_theme_house_created_by_me:[]
            }))
            .done(() => window.location.replace('/clubs'));
            //.fail(error => alert('Could not log in.'));
        })
      </script>
    <%_ } else { -%>
      <p>Hello, <%= user.name -%>!</p>
      <a href="/logout">Logout</a>
    <%_ } -%>
  </body>
</html>
