<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
  </head>
  <body>
      <form>
        <input type="text" id = "curID" name="id">
        <button type="submit" id= "signin">Sign In</button>
        <button type="button" id= "signup">Sign Up</button>
      </form>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script>

        $('form').on('submit', function(event) {
          event.preventDefault();
          const form = $(this);
          //const currentID = $('#curID').val();
            $.ajax({method: 'post', url: '/login', data: form.serialize()})
             .done(() => window.location.replace("/clubs"))
             .fail(error => alert('Could not log in.'));
        });



        $('#signup').on('click', function(event) {
          event.preventDefault();
          const form = $(this);
          const new_id = form.find('text')
          //new User ({_id:${new_id.val(), club_theme_house_created_by_me:[]});
          $.ajax({method: 'post', url: '/signup', data: form.serialize()})
            .then(function(){
              const userList = users.map(user=>user._id);
              if (userList.indexOf(new_id)<0) {
                new User ({_id: request.body.id, club_theme_house_created_by_me: []})
              };)
              .then(() => window.location.replace("/clubs"))
            .fail(error => alert('Could not sign up with this ID.'));
        });




/*
          // if the id is existed



          $.ajax({method: 'post', url: '/login', data: form.serialize()})
            .done(() => window.location.reload());
        });
*/
      </script>



  </body>
</html>
