<header class="navbar navbar-expand navbar-dark  SCARLET">

  <div class="navbar-brand ">
    <a href="/clubs" class="navbar-brand">
      <h1 class="navbar-brand" >SLU Clubs and Theme House</h1>
    </a>
  </div>

  <nav class="navbar-nav ml-3 ">
    <a href="/users" class="nav-item nav-link <%= (active === 'accounts') ? 'active' : 'inactive' -%>">My Account</a>

    <a href="/clubs/new" class= "nav-item nav-link <%= (active === 'clubs/new') ? 'active' : 'inactive' -%>">Create a New Club</a>
</nav>
  <nav class="navbar-nav ml-auto">
    <%_ if (user) { -%>
      <a href="/logout" class="nav-item nav-link">Logout</a>
      <!--既然我们只有login 才能进club页面，这步可以不要吧-->
    <%_ } else { -%>
      <a href="/login" class="nav-item nav-link">Login</a>
    <%_ } -%>
  </nav>
</header>
