<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

  $(document).on('input', '.form-control', function(event) {

     $(this).addClass('bg-dark text-white');
   });

 // Update a club
 $('#updateButton').on('click', function(event) {
   console.log("j");
   const form = $(this).closest('form');
   event.preventDefault();


     <%_ if (Object.entries(club).length === 0) {-%>
       if (confirm('Update this club from the site?')) {
         $('option').prop('selected', true);
         $.ajax({method: 'post', url: '/clubs', data: form.serialize()})
           .done(() => alert('Update successfully.'))
           .done(() => window.location.reload())
           .fail(error => alert('Fail to update the club.'));
         }
     <%_ } else{ -%>
       if (confirm('Update this club from the site?')) {
         $('option').prop('selected', true);
         $.ajax({method: 'put', url: '/clubs/<%= club._id -%>', data: form.serialize()})
          .done(() => form.find('.form-control').removeClass('bg-dark text-white'))
           .done(() => alert('Update successfully.'))
           .fail(error => alert('Fail to update the club.'));
       }
     <%_ } -%>

 });


 // Delete a club
 $('#delete').on('click', function(event) {
   const form = $(this);

   event.preventDefault();
   if (confirm('Delete all traces of this club from the site?')) {
     $.ajax({method: 'delete', url: '/clubs/<%= club.id -%>'})
       .done(() => window.location.replace('/clubs'))
       .fail(error => alert('Fail to delete the club.'));
   }
 });


 // impeach a officer
 $('#impeach').on('click',function(event){
   event.preventDefault();
   const choices = document.getElementById("officerList");
   const member = document.getElementById("memberList");
   const length = choices.length;
   for(var i=length-1;i>-1;i--){
     var choice = choices.options[i];

	 if(choice.selected==true){
     if (choices.length >1){
        choices.remove(i);
        member.push(i)

     }else{
        $('#OList').append($(`<p class="text-danger">You have to keep at least one officer on the club.</p>`));
    }


	 }

   }



});





</script>
