<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'accounts'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="jumbotron">
          <h1 class="display-4">Hello, <%= user._id -%>!</h1>
          <hr class="my-4">
          <p>Club(s)/Theme house(s) that you are a member of: </p>
          <p id = "memberOf"></p>
          <p>Club(s)/Theme house(s) that you are an officer of:</p>
          <p id = "officerOf"></p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Create a new club/theme house</a>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script>
          // save club(s) that the user is a member of in this list
          $("document").ready(function() {
              var members = [];
              <%_ for (const club of clubs) { -%>
              
                if (club.memberList.indexOf(user._id)>=0){
                  members.push(club._id);
                };
              };
              for (let i = 0; i < members.length; i++){
                console.log("lala")
                $('#memberOf').append($(`
                <li class="list-group-item" style="width: 200px;">
                  ${members[i]}
                </li>
                `));
              }
            });


/*
          // save club(s) that the user is an officer of in this list
          var officers = [];
          if (jQuery.inArray(user._id, club.officerList)){
            officers.push(club._id)
          });
          for (let j = 0; j < officers.length; j++){
            $('#officerOf').append($(`
              <li class="list-group-item" style="width: 200px;">
                ${officers[j]}
              </li>
            `));
          if(officers.length != 0){
            $('div').append($(`
              <a class="btn btn-primary btn-lg" href="#" role="button">Go to officer page</a>
            `)
          }
          }
          */
        </script>
      </div>
    </div>
  </body>
</html>
